#gradle files
.gradle
*.DS_Store
.idea

#gradle folder
gradle

#client folder
client/dist
client/node_modules
client/public
client/src/assets

# local env files
client/.env.local
client/.env.*.local

# Log files
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*

# Editor directories and files
client/.idea
client/.vscode
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln
client/*.sw?


#server folder
server/.gradle
server/build
server/gradle
server/src/main/webapp

server/!gradle/wrapper/gradle-wrapper.jar
server/!**/src/main/**/build/
server/!**/src/test/**/build/

### IntelliJ IDEA ###
server/.idea/modules.xml
server/.idea/jarRepositories.xml
server/.idea/compiler.xml
server/.idea/libraries/
server/*.iws
server/*.iml
server/*.ipr
server/out/
server/!**/src/main/**/out/
server/!**/src/test/**/out/

### Eclipse ###
server/.apt_generated
server/.classpath
server/.factorypath
server/.project
server/.settings
server/.springBeans
server/.sts4-cache
server/bin/
server/!**/src/main/**/bin/
server/!**/src/test/**/bin/

### NetBeans ###
server/nbproject/private/
server/nbbuild/
server/dist/
server/nbdist/
server/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
